<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sub-header"><i class="glyphicon glyphicon-wrench"></i> Configuration</h2>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <a style="display: inline;">Screen Resolution:</a>
					<select class="form-control" id="screenResolution" ng-model="selectedOptions[0]" name="screenResolution" ng-options="v for v in screenResolutions">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Aspect Ratio:</a>
					<select class="form-control" id="aspectRatio" ng-model="selectedOptions[1]" name="aspectRatio" ng-options="v for v in aspectRatios">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Start Mode:</a>
					<select class="form-control" id="startMode" ng-model="selectedOptions[2]" name="startMode" ng-options="v for v in startModes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">End Mode:</a>
					<select class="form-control" id="endMode" ng-model="selectedOptions[3]" name="endMode" ng-options="v for v in endModes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Primary:</a>
					<select class="form-control" id="primary" ng-model="selectedOptions[4]" name="primary" ng-options="v for v in eventTypes">
					</select>
				</div>
            </div>
				<div class="pull-right">
					<button type="button"  ng-click="saveConfig()" class="btn btn-success">Save</button>
				</div>
        </div>
    </div>
</div>