<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sub-header"><i class="glyphicon glyphicon-wrench"></i> Configuration</h2>
                </div>
            </div>
            <div class="row form-group">
				<div class="col-xs-12">
					<a style="display: inline;">Start Mode:</a>
					<select class="form-control" id="startMode" ng-model="selectedOptions.startMode" name="startMode" ng-options="v for v in options.startModes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">End Mode:</a>
					<select class="form-control" id="endMode" ng-model="selectedOptions.endMode" name="endMode" ng-options="v for v in options.endModes">
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-12">
					<a style="display: inline;">Schedule Type:</a>
					<select class="form-control" id="scheduleType" ng-model="selectedOptions.scheduleType" name="scheduleType" ng-options="v for v in options.scheduleTypes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Schedule Name:</a>
					<input type="text" class="form-control" id="scheduleName" ng-model="selectedOptions.scheduleName">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-12">
					<a style="display: inline;">Channel Type:</a>
					<select class="form-control" id="channelType" ng-model="selectedOptions.channelType" name="channelType" ng-options="v for v in options.channelTypes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Channel Name:</a>
					<input type="text" class="form-control" id="channelShortName" ng-model="selectedOptions.channelShortName">
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Livestream URL:</a>
					<input type="text" class="form-control" id="livestreamURL" ng-model="livestreamURL">
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Delta Input URL:</a>
					<input type="text" class="form-control" id="deltaInputURL" ng-model="deltaInputURL">
				</div>
            </div>
				<div class="pull-right">
					<button type="button"  ng-click="saveConfig()" class="btn btn-success">Save</button>
				</div>
        </div>
    </div>
</div>