<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="sub-header"><i class="glyphicon glyphicon-wrench"></i> Configuration</h2>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    <a style="display: inline;">Format:</a>
					<select class="form-control" id="format" ng-model="selectedOptions.format" name="format" ng-options="v for v in options.formats">
					</select>
				</div>

				<div class="col-xs-12">
					<a style="display: inline;">Aspect Ratio:</a>
					<select class="form-control" id="aspectRatio" ng-model="selectedOptions.aspectRatio" name="aspectRatio" ng-options="v for v in options.aspectRatios">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Start Mode:</a>
					<select class="form-control" id="startMode" ng-model="selectedOptions.startMode" name="startMode" ng-options="v for v in options.startModes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">End Mode:</a>
					<select class="form-control" id="endMode" ng-model="selectedOptions.endMode" name="endMode" ng-options="v for v in options.endModes">
					</select>
				</div>
			</div>


			<div class="row form-group">
				<div class="col-xs-12">
					<a style="display: inline;">Schedule Type:</a>
					<select class="form-control" id="scheduleType" ng-model="selectedOptions.scheduleType" name="scheduleType" ng-options="v for v in options.scheduleTypes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Schedule Name:</a>
					<input type="text" class="form-control" id="scheduleName" ng-model="selectedOptions.scheduleName">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-xs-12">
					<a style="display: inline;">Channel Type:</a>
					<select class="form-control" id="channelType" ng-model="selectedOptions.channelType" name="channelType" ng-options="v for v in options.channelTypes">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Channel Out of Band:</a>
					<select class="form-control" id="channelOutOfBand" ng-model="selectedOptions.channelOutOfBand" name="channelOutOfBand" ng-options="v for v in options.channelOutOfBand">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Channel Name:</a>
					<input type="text" class="form-control" id="channelShortName" ng-model="selectedOptions.channelShortName">
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Channel ca:</a>
					<select class="form-control" id="channelCa" ng-model="selectedOptions.channelCa" name="channelCa" ng-options="v for v in options.channelCa">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Channel Status:</a>
					<select class="form-control" id="channelStatus" ng-model="selectedOptions.channelStatus" name="channelStatus" ng-options="v for v in options.channelStatus">
					</select>
				</div>
				<div class="col-xs-12">
					<a style="display: inline;">Channel Number:</a>
					<input type="text" class="form-control disabled" id="channelNumber" ng-model="selectedOptions.channelNumber" ng-disabled="selectedOptions.channelNumber">
				</div>
            </div>
				<div class="pull-right">
					<button type="button"  ng-click="saveConfig()" class="btn btn-success">Save</button>
				</div>
        </div>
    </div>
</div>