<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sub-header"><i class="glyphicon glyphicon-facetime-video"></i> Live Stream</h2>
        </div>
      </div>

      <div class="row placeholders">
        <div class=".col-xs-12 .col-md-4 .col-md-offset-8">
            <video id="video" controls autoplay class="videoCentered" width="100%" height="auto" ng-init="loadVideo()"></video>
        </div>
      </div>
    </div>
  </div>
</div>