<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="sub-header"><i class="glyphicon glyphicon-facetime-video"></i> Live Stream</h2>
        </div>
      </div>

      <div class="row placeholders">
        <div class=".col-xs-12 .col-md-4 .col-md-offset-8">
          <img data-src="holder.js/1280x720" alt="..." width="1280" height="720" class="img-thumbnail">
        </div>
      </div>
    </div>
  </div>
</div>